.card {
  width: 320px;
  height: 509px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  &__border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 320px;
    height: 480px;
    clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%, 0 40px);
    // clip-path: url('#border');
    background-color: #1698d9;
    border-radius: 10px;
    cursor: pointer;
  }

  &__body {
    width: 312px;
    height: 472px;
    // clip-path: url('#border');
    clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%, 0 40px);
    background-color: #f2f2f2;
    background-image: url(../../assets/images/Photo.png);
    background-position: bottom -4px left -4px;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
  }

  &.disable {
    & .card__body {
      background-image: url(../../assets/images/disabledPhoto.png);
    }

    .brand,
    .name,
    .flavor,
    .portion,
    .present {
      color: #b3b3b3;
    }

    & > .card__border,
    & > .card__border > .card__body > .weight {
      background-color: #b3b3b3;
    }
  }

  @media screen and (max-width: 340px) {
    & {
      width: 95%;
      max-width: 320px;
      height: 509px;

      &__border {
        width: 95%;
        max-width: 320px;
        height: 480px;
      }

      &__body {
        width: 95%;
        max-width: 312px;
        height: 472px;
      }
    }
  }
}

.text {
  font-family: 'Trebuchet MS';
  font-style: normal;
  padding-left: 47px;

  @media screen and (max-width: 340px) {
    & {
      padding-left: 34px;
    }
  }
}

.brand {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  padding-top: 18px;
}

.name {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  padding-top: 5px;

  @media screen and (max-width: 340px) {
    & {
      font-size: 40px;
    }
  }
}

.flavor {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

  @media screen and (max-width: 340px) {
    & {
      font-size: 22;
    }
  }
}

.portion,
.present {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.portion {
  padding-top: 15px;
}

.weight {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  border-radius: 50%;
  background-color: #1698d9;
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  position: absolute;
  bottom: 12px;
  right: 12px;

  &__count {
    font-size: 42px;
    line-height: 22px;
  }

  &__description {
    font-size: 21px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 8px;
  }
}

.active {
  & > .card__border,
  & > .card__border > .card__body > .weight {
    background-color: #d91667;
  }

  &.hover {
    & > .card__border,
    & > .card__border > .card__body > .weight {
      background-color: #e52e7a;
    }
  }
}

.hover {
  & > .card__border,
  & > .card__border > .card__body > .weight {
    background-color: #2ea8e6;
  }
}
