.footer {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;

  &.disable {
    color: #ffff66;
  }
}

.buy {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #1698d9;
  text-decoration: dashed #1698d9;

  &:hover {
    cursor: pointer;
  }
}
